.wrapper {
  font-family: sans-serif;

  width: 80%;

  margin: 0 auto;

  position: relative;
}

img {
  opacity: 2;

  display: block;

  width: 100%;

  height: auto;

  transition: 0.5s ease;
}

.overlay {
  opacity: 0;
}

.wrapper:hover img {
  opacity: 0.5;
}

.wrapper:hover .overlay {
  opacity: 1;
}
